.root {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0 5px;

  opacity: 0.75;
  transition: opacity 500ms;
  border: none;
  outline: none;
  text-align: center;
}
.root:hover {
  opacity: 1;
}

.root[disabled] {
  opacity: 0.3;
}

.iconSpin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
