.root {
  padding: 8px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: opacity 500ms;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.4rem;
  border-right: 8px solid var(--button-bg-color);
}
.root:hover {
  opacity: 1;
}

.root[disabled] {
  opacity: 0.3;
}

.fullWidth {
  width: 100%;
}
