.root {
  padding: 10px 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: opacity 500ms;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.75;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.4rem;
}
.root:hover {
  opacity: 1;
}

.root[disabled] {
  opacity: 0.3;
}

.fullWidth {
  width: 100%;
}
