.header {
  display: flex;
  align-items: center;
}
.header > img {
  height: 96px;
  width: 96px;
  margin-right: 15px;
}
.header > div:first-of-type {
  flex: 1;
}

.subheader {
  display: flex;
  margin-top: 15px;
}

.subheader > div {
  flex: 1;
}
.subheader button {
  margin-left: 7px;
}

.screenshots {
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}

.section {
  margin-bottom: 15px;
}

.section td {
  padding: 5px 0;
}

.personRole {
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .subheader {
    flex-direction: column;
  }

  .subheader > div {
    flex: 1;
    margin-bottom: 15px;
  }
  .subheader button {
    margin-left: 0px;
    margin-bottom: 7px;
  }
}
