.device {
  height: 100px;
}

.container {
  display: flex;
  padding: 0 15px;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 0;
  text-align: right;
  color: var(--secondary-text-color);
  font-style: italic;
}
