.root {
  overflow: hidden;
  position: relative;
}
.scroller {
  padding: 0 10px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 10px;
  position: relative;
}

.scroller > img {
  display: inline;
  height: 100%;
  max-height: 250px;
  margin: 15px 15px 15px 0;
}
.scroller > img:last-child {
  margin-right: 0;
}

.fadeLeft {
  z-index: 2;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--panel-bg-color) 0%, 70%, rgba(0, 0, 0, 0) 100%);
}
.fadeRight {
  z-index: 2;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, 70%, var(--panel-bg-color) 100%);
}
