.root {
  height: 100vh;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 20px rgb(0 0 0 / 10%);
  padding-bottom: 15px;
  z-index: 10;
}
.subtitle {
  padding: 15px 15px 5px 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.spacer {
  flex: 1;
}

.device {
  padding: 5px 10px;
}

.titlebar {
  height: 35px;
  -webkit-app-region: drag;
}
