.root {
  height: 100vh;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.subtitle {
  padding: 15px 15px 5px 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.spacer {
  flex: 1;
}

.device {
  padding: 5px 10px;
}

.titlebar {
  height: 35px;
  min-height: 35px;
  -webkit-app-region: drag;
}

.items {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
