.root {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.root:hover {
  background-color: var(--highlight-bg-color);
}

.text {
  margin-left: 10px;
  flex: 1;
}
.text:first-child {
  margin-left: 0px;
}

.primaryText {
  font-size: 1.6rem;
  color: var(--primary-text-color);
}

.secondaryText {
  color: var(--secondary-text-color);
}
